// Feature Posts

.feature-post {
  .post-content {
   align-self: center; 
  }
  .post-content,
  .post-media {
      
  }
}

.feature-posts {
  .post-content,
  .post-media {
      
  }
  .post-text {
    font-size: .875em;   
  }
  ul {
    text-align: center;  
    li {
      display: inline-block;  
    }
  }   
  .post-content {
    align-self: center;
    p {
      margin-bottom: .5em; 
    }
  }
  .button-group {
    align-items: center;
    justify-content: center;
    [class*="btn"] {
      max-width: 15em;
      width: auto;    
    }
  }
  // 540
  @media (min-width: $break-md-phone) {
    
  }
  // 992
  @media (min-width: $break-md-screen) {
  }
}