// Site Footer Basic

.site-footer-basic {
  background-color: shade($blue-dark, 80%);
	color: white;
	font: {
  	family: $Montserrat;
  }  
	// text-align: center; 
	a {
  	color: white;
	}
	.content-post li {
    span {
      display: inline-block;  
      padding-left: 0.25em; 
    }
  }    
  .footer-info {
    .post-media {       
    }
  }
  .soc-media-links {
    p {
       
    }
    a {
      font-size: 2em;          
    }          
  }
}